/* pozycja fixed  */

body {
  height: 2500px;
}

.body-first-child {
  height: 1200px;
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.body-second-child {
  position: absolute;
  width: 99%;
  height: 700px;
  top: 0;
  left: 0;
}
.pos-fixed {
  width: 99%;
  height: 800px;
  position: fixed;
}

.header {
  position: absolute;
}

/* style ogolne */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
button {
  color: white;
  padding: 7px 20px;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(palevioletred),
    to(hsl(340, 64%, 56%))
  );
  background: -o-linear-gradient(right, palevioletred, hsl(340, 64%, 56%));
  background: linear-gradient(to left, palevioletred, hsl(340, 64%, 56%));
  border: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 50px;
  cursor: pointer;
}
button:hover {
  color: black;
}

h2,
h1,
span,
p,
li,
a,
button {
  font-family: "Monsterart", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
/* style navbar*/
header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 15%;
  border-bottom: 1px solid palevioletred;
  background-color: white;
}
.logo {
  cursor: pointer;
  padding-right: 10%;
}
.nav_logo {
  margin-left: auto;
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0 10px;
  margin: 7px;
}
.nav_links li a {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: rgb(131, 130, 131);

}
.nav_links li a:hover {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(palevioletred),
    to(hsl(340, 64%, 56%))
  );
  background: -o-linear-gradient(right, palevioletred, hsl(340, 64%, 56%));
  background: linear-gradient(to left, palevioletred, hsl(340, 64%, 56%));
  color: white;
  padding: 7px 15px;
  border: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 50px;
  cursor: pointer;
}
.nav_logo img {
  padding: 0 15px;
}

/* style main_content */

main {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* style upper content (first page) */

.img {
  position: absolute;
  top: 20%;
  right: 90%;
  z-index: 0;
  rotate: 20deg;
}
.one {
  height: 40px;
  top: 15%;
  left: 60%;
}
.two {
  top: 48%;
  left: 40%;
  height: 30px;
  rotate: 50deg;
}
.three {
  height: 40px;
  rotate: 90deg;
  top: 42%;
  right: 10%;
}

.upper_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 500px;
  padding: 150px 0 150px 0;
  background-color: white;
}

.upper_content-text {
  margin: 20px 15%;
}

.upper_content-buttons {
  margin: 20px 10% 0 0;
  display: flex;
}

.MyProj {
  color: palevioletred;
  padding: 7px 20px;
  font-weight: 550;
  margin-right: 5%;
  border: 1px solid palevioletred;
  border-radius: 50px;
  cursor: pointer;
  transition: all 1.5s ease-in 0s;
}

.MoreAbout {
  color: palevioletred;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 3%;
}
.MoreAbout:hover {
  color: black;
}
p span {
  color: hsl(340, 64%, 56%);
}

.upper_content-text div > p {
  font-size: 100px;
  font-weight: 350;
  color: rgba(203, 203, 203, 0.379);
}

h1 {
  font-size: 20px;
  margin-top: -45px;
  font-weight: 300;
}

h1 span {
  color: hsl(340, 64%, 56%);
  font-size: 20px;
}

h2 {
  font-weight: 700;
  font-size: 35px;
}

.Contact h2 {
  font-weight: 550;
  color: hsl(340, 64%, 56%);
}
.Contact span {
  font-size: 35px;
  color: black;
}

.photo_background {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(palevioletred),
    to(hsl(340, 64%, 56%))
  );
  background: -o-linear-gradient(left, palevioletred, hsl(340, 64%, 56%));
  background: linear-gradient(to right, palevioletred, hsl(340, 64%, 56%));
  border-radius: 150px 0 0 150px;
  margin-left: auto;
  height: 200px;
  width: 40%;
  position: relative;
}

.facefoto {
  position: absolute;
  height: 260px;
  width: 260px;
  margin: -15px 0 0 -30px;
  top: 2px;
  left: 0;
}

/* upper content END (first page) */

/* center main content (About FORM) */

.content_center-wrapper {
  background-color: hsl(0, 0%, 93%);
}
.center_content {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  border-bottom-left-radius: 90% 60%;
  border-bottom-right-radius: 90% 60%;
  background-color: white;
}

.content_center-backgroundImg {
  margin-top: 500px;
  display: block;
  position: relative;
  transition: 3s all;
  overflow: hidden;
  border-collapse: collapse;
  max-height: 0;
  width: 50%;
  border-radius: 20px;
  border-bottom-left-radius: 60% 30px;
  border-bottom-right-radius: 60% 30px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px -10px 20px lightgray;
  box-shadow: 0px -10px 20px lightgray;
}

.content_center-backgroundImg.animate {
  margin-top: 0px;
  max-height: 600px;
}

.upper_bar {
  border-radius: 15px 15px 0 0;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(palevioletred),
    to(hsl(340, 64%, 56%))
  );
  background: -o-linear-gradient(right, palevioletred, hsl(340, 64%, 56%));
  background: linear-gradient(to left, palevioletred, hsl(340, 64%, 56%));
  position: absolute;
  width: 100%;
  height: 30px;
  top: 0;
  left: 0;
}
.dot-red {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: red;
  float: left;
  margin: 10px 5px 10px 20px;
}
.dot-yellow {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: yellow;
  float: left;
  margin: 10px 5px 10px 10px;
}
.dot-green {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: rgb(99, 201, 99);
  float: left;
  margin: 10px 5px 10px 10px;
}
.upper_bar p {
  color: white;
  float: right;
  padding: 5px 30px 3px;
}

.content_center-backgroundImg_downTxt {
  padding: 30px 5%;
  width: 100%;
}

.content_downTxt-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.About {
  padding-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.About span {
  font-size: 20px;
  font-weight: 600;
}
.About p {
  color: grey;
  font-size: 20px;
}
.leftSide p span,
.leftSide p {
  font-size: 15px;
}
.rightSide p span,
.rightSide p {
  font-size: 15px;
}

.contnet-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0 0 5%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.leftSide {
  width: 50%;
  font-size: 15px;
}

.pre {
  font-size: 10px;
  color: palevioletred;
}

.pre span {
  color: rgb(131, 130, 131);
  font-size: 20px;
}
.rightSide {
  width: 50%;
}

.Skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding-left: 10px;
}
.flex-product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(208, 208, 208);
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  width: 10%;
  min-width: 30px;
}
.flex-product__wrapper:nth-child(2n) {
  background-color: transparent;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.flex-content__wrapper {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse;
  flex-flow: row-reverse;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-direction: row;
  flex-direction: row;
}

.Skills-bar {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(palevioletred),
    to(hsl(340, 64%, 56%))
  );
  background: -o-linear-gradient(right, palevioletred, hsl(340, 64%, 56%));
  background: linear-gradient(to left, palevioletred, hsl(340, 64%, 56%));
  border-radius: 5px;
  height: 20px;
}
.Skills-bar p {
  font-weight: 400;
  font-size: 13px;
  color: white;
  margin: 2px;
}
.html {
  width: 90%;
}
.css {
  width: 80%;
}
.js {
  width: 60%;
}

.down_content {
  background-color: hsl(0, 0%, 93%);
  min-height: 700px;
  padding-top: 100px;
  border-bottom-left-radius: 90% 60%;
  border-bottom-right-radius: 90% 60%;
}

.line {
  height: 135px;
  width: 100%;
  border: solid palevioletred;
  border-top-right-radius: 100% 100%;
  border-top-left-radius: 100% 100%;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sub_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sub_menu li {
  margin: 20px;
  display: inline-block;
}

.projects_container {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.projects_wrapper {
  width: 65%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse wrap;
  flex-flow: row-reverse wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 2%;
}

.projects-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 2px;
  border-radius: 10px;
  background-color: gray;
  max-height: 220px;
  min-width: 32%;
  -ms-flex-preferred-size: 260px;
  flex-basis: 260px;
}

.projects-pictures img {
  border-radius: 10px;
  min-height: 200px;
}

/* end (PROJECTS) */

/* footer (CONTACT FORM) */

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer_container {
  width: 100%;
  height: 100vh;
  border-bottom: 2px solid hsl(340, 64%, 56%);
  background-color: antiquewhite;
  /* position: absolute;
  top: 1500px; */
  z-index: 0;
}

.main-footer_upper-content {
  background-color: rgb(44, 33, 53);
  height: 72%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.main-footer_down-content {
  background-color: rgb(51, 37, 52);
  height: 28%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.contener {
  width: 20%;
  position: relative;
}

.sub-container {
  min-height: 74px;
  min-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}


.footer-icon-container {
  width: 40px;
  height: 40px;
  border-radius: 15%;
  background-color: rgb(44, 33, 53);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 1.5s ease-in 1s;
  -o-transition: all 1.5s ease-in 1s;
  transition: all 1.5s ease-in 1s;
}
.footer-icon-container:hover {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(palevioletred),
    to(hsl(340, 64%, 56%))
  );
  background: -o-linear-gradient(right, palevioletred, hsl(340, 64%, 56%));
  background: linear-gradient(to left, palevioletred, hsl(340, 64%, 56%));
}

.JK {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #ccc;
}

.contant-form {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

form {
  padding-top: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin: auto;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 15px;
}

input[type="text"],
textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: aliceblue;
}
input[type="text"] {
  height: 30px;
}

input[type="text"]:focus {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(palevioletred),
    to(hsl(340, 64%, 56%))
  );
  background: -o-linear-gradient(right, palevioletred, hsl(340, 64%, 56%));
  background: linear-gradient(to left, palevioletred, hsl(340, 64%, 56%));
  color: aliceblue;
}

input[type="button"] {
  color: aliceblue;
  margin: 10% 35%;
  padding: 5px 30px;
}
input[type="button"]:hover {
  color: pink;
  border: 1px solid white;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
label {
  color: aliceblue;
  font-size: 10px;
  padding-left: 15px;
}
.wrap-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer-el {
  position: absolute;
  bottom: 200px;
  left: 48%;
}


@media screen and (min-width: 0px) and (max-width: 849px) {
  img#optionalstuff { display:none }
  .photo_background{ display:none }
  body{ min-height: 3000px;}
  form{width: 60%;}
  .leftSide{display: none}
  .rightSide{width: 100%} 
  .contener { width: 48%}
  .content_center-backgroundImg{
    width: 65%;
    border-bottom-left-radius: 61% 61px;
    border-bottom-right-radius: 60% 61px;
  }
}
@media screen and (min-width: 850px) and (max-width: 1349px) {
  body{ min-height: 2700px;}
  form{width: 40%;}
}


